@font-face {
  font-family: "Clarendon Regular";
  src: url(assets/fonts/clarendon.otf) format("opentype");
}

.App {
  text-align: center;
}

body {
  background-color: #eddbc6;
  color: #212121;
}

ul {
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clarendon Regular", sans-serif;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

.hint-prompt {
  font-size: 20px;
  font-family: "Clarendon Regular", sans-serif;
  color: #b51c1d;
  text-shadow: 1px 1px black;
  margin: 20px 0;
  width: 250px;
}

.hint-prompt-mobile {
  display: none;
  font-size: 20px;
  font-family: "Clarendon Regular", sans-serif;
  color: #b51c1d;
  text-shadow: 1px 1px black;
  margin: 20px 0;
  width: 250px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  .hint-prompt {
    display: none;
  }

  .hint-prompt-mobile {
    display: block;
  }
}

/* ----INTRO SCREEN---- */

.intro-screen-box {
  margin: 30vh auto;
  width: 50vw;
}

.intro-image {
  position: absolute;
  z-index: -1;
  top: 40%;
  right: 15%;
}

@media screen and (max-width: 767px) {
  .intro-image {
    top: 30%;
    width: 60vw;
    right: 5%;
  }

  .intro-screen-box h1 {
    line-height: 40px;
  }

  .intro-screen-box h2 {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.play-button {
  margin: 0px;
  border: none;
  background-image: linear-gradient(90deg, #b51c1d 0%, #b51c1d 50%, #212121 50%, #212121 100%);
  background-size: 200%;
  text-transform: uppercase;
  width: 130px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  box-shadow: 5px 5px #212121;
  outline: none;
  transition: background-position 0.3s, color 0s linear, box-shadow 0.2s;
  transition-delay: 0s, 0.15s;
}

/* ----GAME PLAY---- */

.option {
  color: #eddbc6;
  margin: 20px;
  border: none;
  background-image: linear-gradient(90deg, #b51c1d 0%, #b51c1d 50%, #212121 50%, #000 100%);
  background-size: 200%;
  text-transform: uppercase;
  width: 130px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  box-shadow: 5px 5px #000;
  outline: none;
  transition: background-position 0.3s, color 0s linear, box-shadow 0.2s;
  transition-delay: 0s, 0.15s;
}

@media screen and (max-width: 767px) {
  .option {
    margin: 10px;
    font-size: 12px;
    width: 100px;
    background-image: none;
    background-size: 100%;
    background-color: #b51c1d;
  }

  .option:hover {
    box-shadow: 5px 5px #000;
    color: #eddbc6;
  }
}

.start-over {
  font-size: 25px;
  width: 170px;
  font-family: "Clarendon Regular", sans-serif; 
}

.question,
.initial-question {
  background-color: #00a8bd;
  padding: 15px;
  box-shadow: 5px 5px #000;
  font-weight: 500;
  margin: 20px 0px;
  list-style-type: none;
}

.question {
  max-width: 450px;
}

.initial-question {
  margin: 0 auto;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .initial-question {
    font-size: 20px;
  }
}

.question-text {
  text-shadow: 2px 2px black;
  text-align: left;
}

.red {
  background-color: red;
}

.brick-red {
  color: #b51c1d;
}

.light-sea-blue {
  color: #00a8bd;
}

.darker-sea-blue {
  color: #00899c;
}

.txt-shd-wt {
  text-shadow: 2px 2px white;
}

.quiz-image {
  width: 100%;
  height: 100%;
}

.results-image {
  width: 80%;
  height: 80%;
  padding-bottom: 20px;
}

.image-box {
  position: absolute;
  z-index: -1;
  top: 5%;
  right: 15%;
  width: 355px;
  height: 500px;
}

@media screen and (max-width: 767px) {
  .image-box {
    top: 5%;
    width: 35%;
    height: 35%;
    right: 5%;
  }
}

.hint {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: white;
  margin: 0;
}

.hint-text {
  font-family: "Clarendon Regular", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 100px auto;
  max-width: 250px;
}

@media screen and (max-width: 767px) {
  .hint-text {
    margin: 20px;
    font-size: 14px;
    line-height: 15px;
  }
}

.hint-close {
  display: none;
}

@media screen and (max-width: 767px) {
  .hint-close {
    display: block;
    margin-top: 10px;
  }
}

.hint:hover,
.image-box:hover,
.quiz-image:hover,
.hint-text {
  opacity: 1;
  z-index: 1;
}

.hint:hover {
  border: 5px solid black;
}

/* ---- RESULTS ----- */

.score-box {
  background-color: white;
  max-width: 30vw;
  margin: 30px auto;
  min-height: 20vh;
  border: 5px solid black;
  padding: 10px;
}
.score-text {
  font-family: "Clarendon Regular", sans-serif;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .score-box {
    max-width: 70vw;
  }
}

.result-option,
.result-answer,
.failure,
.flawless {
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  box-shadow: 5px 5px #000;
  outline: none;
  transition: background-position 0.3s, color 0s linear, box-shadow 0.2s;
  transition-delay: 0s, 0.15s;
  list-style-type: none;
  background-size: 200%;
  margin: 0px 10px;
}

.result-q-cont h3 {
  margin: 0;
}

.result-answer,
.result-q-cont .question {
  min-height: 50px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .result-answer,
  .result-q-cont .question {
    min-height: 70px;
  }
  .result-q-cont h3 {
    margin: 0 10px;
  }
}

.result-q-cont .question {
  background-color: #fafafa;
}

.fail-box,
.flawless-box {
  margin: 0 auto;
}

.failure,
.flawless {
  width: 150px;
  margin: 15px auto;
  padding: 20px;
}

.failure {
  background-color: #b51c1d;
  color: white;
}

.flawless {
  background-color: #00a8bd;
}

.result-option {
  background-image: linear-gradient(90deg, #b51c1d 0%, #b51c1d 50%, #212121 50%, #212121 100%);
}

.result-answer {
  background-color: #00a8bd;
}

.wrong {
  background-color: #b51c1d;
  color: white;
}

button:hover,
.start-over:hover {
  cursor: pointer;
  background-position: -100% 100%;
  color: #fff;
  box-shadow: 5px 5px #b51c1d;
}

.question-box {
  max-width: 40vw;
  margin: 100px auto;
  padding: 20px 50px;
  border: 10px dashed white;
}

@media screen and (max-width: 767px) {
  .question-box {
    border: 5px dashed white;
    padding: 10px 20px;
    max-width: 80vw;
  }
}

.right-and-wrong {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .right-and-wrong {
    margin-left: 0;
  }
}

.right-and-wrong-box {
  display: flex;
  justify-content: center;
}

.result-answer {
  list-style-type: none;
}

.option-box {
  margin: 20px auto;
  max-width: 30vw;
}

@media screen and (max-width: 767px) {
  .option-box {
    max-width: 70vw;
    margin: 15px auto 10px;
  }
}

.result-option-box {
  margin: 20px auto;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
